* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10182899;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 12;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.header {
  position: relative;
  background-color: #ffffff;
  z-index: 13;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__left {
    @media only screen and (min-width: 1199px) {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }

  &__menu {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #ffffff;
    transition: all 0.3s ease;

    @media only screen and (min-width: 1199px) {
      position: static;
      display: block;
      overflow: unset;
      max-height: unset;
    }

    nav {
      padding: 16px 16px 0;
      @media only screen and (min-width: 1199px) {
        padding: 0;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
      list-style: none;

      @media only screen and (min-width: 1199px) {
        flex-direction: row;
        gap: 8px;
      }

      li {
        a {
          display: block;
          padding: 12px 0;
          font-size: 18px;
          font-weight: 500;
          line-height: 21.6px;
          color: #667085;

          @media only screen and (min-width: 1199px) {
            padding: 9px 12px 12px 12px;
            font-size: 16px;
            line-height: 1;
            transition: all 0.3s ease;

            &:hover{
              color: #07ae5a;
            }
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 10px;

    @media only screen and (min-width: 1199px) {
      gap: 24px;
    }
  }
}


.mlang{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;

  @media only screen and (min-width: 1199px) {
    display: none;
  }

  &-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #667085;
  }
}

.logo {
  a {
    display: block;
    img {
      display: block;
    }
  }
  &_header {
  }
}
.languages {
  display: none;

  @media only screen and (min-width: 1199px) {
    display: block;
  }
}
.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  text-align: end;

  .number {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #101828;
    @media only screen and (min-width: 1199px) {
      font-size: 16px;
      line-height: 19.2px;
    }
  }

  .feedback {
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
    color: #07ae5a;

    @media only screen and (min-width: 1199px) {
      font-size: 14px;
      line-height: 16.8px;
    }
  }
}

.lang {
  position: relative;

  &.open {
    .lang-active {
      border: 1px solid #10182866;
    }
    .lang-active__icon {
      transform: rotate(180deg);
    }
    .lang-list {
      // display: block;
    }
  }
}
.lang-active {
  border: 1px solid #10182833;
  border-radius: 64px;

  &__inner {
    display: flex;
    align-items: center;
    padding: 8px 5px 5px 6px;
  }
  &__icon {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
  }
  & .lang-item {
    &:hover {
      background-color: unset;
    }
  }
}
.lang-item {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 26px;
  width: 100%;
  margin-bottom: 2px;
  padding: 3px 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #101828;
  cursor: pointer;

  &:hover {
    background-color: darken(#ffffff, 5%);
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.lang-list {
  position: absolute;
  top: calc(100% + 2px);
  min-width: 78px;
  padding: 5px 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 45.4px 0px #0d122517;
  display: none;
  overflow: hidden;

  &.topUp{
    top: unset;
    bottom: calc(100% + 3px);
  }
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 52px;
  cursor: pointer;

  @media only screen and (min-width: 1199px) {
    display: none;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 21px;
    height: 19px;
    position: relative;

    span {
      display: block;
      height: 3px;
      width: 80%;
      background-color: #101828;
      transition: all 0.3s ease;
    }

    &:after,
    &:before {
      position: absolute;
      left: 0;
      height: 3px;
      background-color: #101828;
      content: '';
      transition: all 0.3s ease;
    }
    &:after {
      bottom: 0;
      width: 50%;
    }
    &:before {
      top: 0;
      right: 0;
      left: unset;
      width: 100%;
    }
  }

  &.active {
    .burger__inner {
      span {
        opacity: 0;
      }
      &:after {
        width: 100%;
        transform: rotate(45deg) translate(-5px, -4px);
      }
      &:before {
        width: 100%;
        transform: rotate(-45deg) translate(-8px, 6px);
      }
    }
  }
}

section {
  padding: 20px 0;

  &.hero {
    padding: 0;
  }

  @media only screen and (min-width: 991px) {
    padding: 40px 0;
  }
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1252px;
  width: 100%;

  @media only screen and (min-width: 1199px) {
    max-width: 1260px;
    padding: 0 20px;
  }
}

h1.title {
  font-size: 26px;
  font-weight: 800;
  line-height: 31.2px;
  color: #ffffff;

  @media only screen and (min-width: 991px) {
    font-size: 56px;
    line-height: 56px;
  }
}
h2.title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 800;
  line-height: 31.2px;
  color: #101828;

  @media only screen and (min-width: 1199px) {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 38.4px;
  }

  &_steps {
    margin-bottom: 4px;
    @media only screen and (min-width: 1199px) {
      margin-bottom: 8px;
    }
  }
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #667085;

  @media only screen and (min-width: 1199px) {
    font-size: 24px;
    line-height: 33.6px;
  }
}

.text-center {
  text-align: center;
}

.hero {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -16px;
    padding: 40px 0;
    background-color: #101828;
    background-size: cover;
    background-position: center;
    text-align: center;

    @media only screen and (min-width: 991px) {
      margin: 0;
      padding: 48px 0;
      border-radius: 16px;
      overflow: hidden;
    }

    h1 {
      max-width: 698px;
      margin-bottom: 8px;
      @media only screen and (min-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }

  &__descr {
    max-width: 698px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    color: #a9a9a9;

    @media only screen and (min-width: 991px) {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 56px;
  padding: 0 16px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &_xl {
    height: 58px;
  }

  &_green {
    background-color: #07ae5a;
    color: #ffffff;

    &:hover {
      background-color: darken(#07ae5a, 5%);
    }
  }
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media only screen and (min-width: 991px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 76px;
    max-width: 878px;
    margin: 0 auto;
  }
}
.stat-item {
  @media only screen and (min-width: 991px) {
    text-align: center;
  }
  &__title {
    margin-bottom: 2px;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    color: #2894d1;
    @media only screen and (min-width: 991px) {
      margin-bottom: 4px;
    }
  }

  &__descr {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #101828;

    @media only screen and (min-width: 1199px) {
      font-size: 22px;
      line-height: 26.4px;
    }
  }
}

// features

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media only screen and (min-width: 991px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}
.ft {
  position: relative;
  padding: 16px 20px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #10182808;
  box-shadow: 0px 1px 21.4px 0px #0d122508;

  @media only screen and (min-width: 991px) {
    flex: 0 1 calc(33.33% - 16px * 2 / 3);
  }

  &:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: calc(100% - 16px * 2);
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #10182808;
    border-radius: 12px;
    transform: translateX(-50%);
    box-shadow: 0px 2px 45.4px 0px #0d12250a;
    z-index: -1;
    content: '';
  }

  &__icon {
    margin-bottom: 8px;

    img {
      display: block;
      @media only screen and (min-width: 991px) {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    color: #101828;
  }

  &__descr {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    color: #667085;
  }
}

.certificate {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #f9f9f9;

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    color: #667085;
  }
}

.about {
  display: grid;
  grid-template-columns: 100%;
  gap: 16px;

  @media only screen and (min-width: 991px) {
    grid-template-columns: calc(100% - 408px - 68px) 408px;
    gap: 68px;
  }

  .certificate {
    margin-bottom: 12px;
    @media only screen and (min-width: 991px) {
      margin-bottom: 20px;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #101828;
    @media only screen and (min-width: 991px) {
      font-size: 18px;
      line-height: 28.8px;
    }

    h3 {
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;

      @media only screen and (min-width: 991px) {
        margin-bottom: 10px;
      }
    }
    p {
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin-left: 10px;
      list-style-position: inside;
      margin-bottom: 14px;
      li {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .license {
    a {
      position: relative;
      display: block;
      text-align: center;
      cursor: pointer;
      &:hover {
        svg {
          color: #07ae5a;
        }
      }
    }
    img {
      width: 100%;
      max-width: 408px;
      max-height: 465px;

      @media only screen and (min-width: 991px) {
        max-width: 408px;
        height: 580px;
        max-height: unset;
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      width: 56px;
      border-radius: 100%;
      background-color: #ffffff;
      transform: translate(-50%, -50%);
      color: #101828;

      svg {
        transition: all 0.3s ease;
      }
    }
  }
}

// partners

.partners {
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 100%;
    border-top: 1px solid #eaecf0;
    border-bottom: 1px solid #eaecf0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    @media only screen and (min-width: 768px) {
      border: 1px solid #eaecf0;

      &:nth-child(-n + 3) {
        border-top: none;
      }
      &:nth-last-child(-n + 3) {
        border-bottom: none;
      }
      &:nth-child(4n - 4),
      &:first-child {
        border-left: none;
      }
      &:nth-child(3n) {
        border-right: none;
      }
    }

    img {
      max-width: 240px;
    }
  }
}

.services {
  display: grid;
  grid-template-columns: 100%;
  gap: 12px;

  @media only screen and (min-width: 991px) {
    grid-template-columns: repeat(3, calc(33.33% - 16px * 2 / 3));
    grid-template-rows: repeat(2, 322px);
    gap: 16px;
  }

  &__item {
    position: relative;
    height: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 16px;

    @media only screen and (min-width: 991px) {
      height: 100%;
    }

    h3 {
      margin-bottom: 6px;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      color: #101828;
      @media only screen and (min-width: 991px) {
        font-size: 24px;
        font-weight: 600;
        line-height: 31.2px;
      }
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 190px;
      width: auto;

      @media only screen and (min-width: 991px) {
        height: 220px;
      }
    }

    ul {
      li {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.2px;
        color: #667085;
        list-style: none;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:nth-child(3n) {
      height: 380px;

      @media only screen and (min-width: 991px) {
        grid-row: span 2;
        height: 100%;
      }
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input {
  input {
    height: 56px;
    width: 100%;
    padding: 0 16px;
    border: 1px solid #626c7733;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #101828;
    outline: none;

    &::placeholder {
      font-family: 'Manrope', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      color: #667085;
    }

    &:focus {
      border-color: #626c7766;
    }
  }
}
.textarea {
  textarea {
    width: 100%;
    height: 136px;
    padding: 16px;
    border: 1px solid #626c7733;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #101828;
    resize: none;
    outline: none;

    &::placeholder {
      color: #667085;
    }
  }
}

.checkbox {
  display: inline-block;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  user-select: none;
  cursor: pointer;

  input {
    height: 0;
    width: 0;
    display: none;

    &:checked ~ .checkbox__checkmark:after {
      opacity: 1;
    }
    &:checked ~ .checkbox__checkmark {
      background-color: #07ae5a;
      border-color: #07ae5a;
    }

    &:disabled ~ .checkbox__checkmark:after {
      opacity: 0;
    }
    &:disabled ~ .checkbox__checkmark {
      border-color: #626c7733;
    }
    &:disabled ~ .checkbox__label {
      color: #626c7733;
    }
  }

  &__inner {
    display: flex;
    // align-items: center;
    gap: 8px;
  }

  &__checkmark {
    position: relative;
    display: inline-block;
    height: 20px;
    flex: 0 0 20px;
    width: 20px;
    border: 1px solid #626c7733;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    line-height: 1;

    &:after {
      content: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.1625 0.9625C8.7125 0.5125 8.0375 0.5125 7.5875 0.9625L3.875 4.675L2.4125 3.2125C1.9625 2.7625 1.2875 2.7625 0.8375 3.2125C0.3875 3.6625 0.3875 4.3375 0.8375 4.7875L3.0875 7.0375C3.3125 7.2625 3.5375 7.375 3.875 7.375C4.2125 7.375 4.4375 7.2625 4.6625 7.0375L9.1625 2.5375C9.6125 2.0875 9.6125 1.4125 9.1625 0.9625Z' fill='white'/%3E%3C/svg%3E%0A");
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      opacity: 0;
      line-height: 1;
      height: 100%;
    }
  }

  &__label {
    transform: translateY(2px);
    font-size: 12px;
    font-weight: 500;
    line-height: 15.6px;

    color: #101828;

    @media only screen and (min-width: 1199px) {
      font-size: 14px;
      line-height: 18.2px;
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &_row {
    flex-direction: row;
    align-items: center;
  }
  &.fix {
    position: fixed;
    bottom: 20px;
    right: 12px;

    @media only screen and (min-width: 1199px) {
      bottom: 48px;
      right: 48px;
    }

    & .social {
      box-shadow: 0px 1.27px 7.64px 0px #08042029;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  transition: all 0.3s ease;

  @media only screen and (min-width: 1199px) {
    height: 64px;
    width: 64px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  svg {
    width: 26px;
    height: 26px;
  }

  &_s {
    width: 40px;
    height: 40px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.tg {
    background-color: #40b3e0;

    &:hover {
      background-color: darken(#40b3e0, 5%);
    }

    svg {
      transform: translateX(-1px);
    }
  }
  &.whts {
    background-color: #39cb59;

    &:hover {
      background-color: darken(#39cb59, 5%);
    }
  }
}

.banner-2 {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-color: #f9f9f9;
  border-radius: 16px;
  @media only screen and (min-width: 991px) {
    grid-template-columns: calc(100% - 400px - 20px) 400px;

    & .input-group__row {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 6px / 2));
    }
  }
  @media only screen and (min-width: 1199px) {
    padding: 48px;
  }

  img {
    width: 100%;
    max-width: 390px;
    height: auto;
    margin: 0 auto -20px;

    @media only screen and (min-width: 991px) {
      position: absolute;
      bottom: 0;
      left: 30%;
      margin: 0;
      z-index: 1;
    }
  }

  &__header {
    position: relative;
    z-index: 2;
  }
  &__title {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 800;
    line-height: 31.2px;
    color: #101828;

    @media only screen and (min-width: 767px) {
      font-size: 32px;
      line-height: 35.2px;
    }
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    color: #667085;

    @media only screen and (min-width: 767px) {
      max-width: 500px;
      font-size: 24px;
      line-height: 33.6px;
    }
  }

  &__form {
    position: relative;
    z-index: 2;
    form {
      button {
        width: 100%;
        margin-top: 12px;
      }
    }
  }
}
.grey-text {
  color: #07ae5a;
}
.red-color {
  color: #ff4433;
}
.black-text {
  color: #101828;
}

.banner-1 {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  @media only screen and (min-width: 767px) {
    display: grid;
    grid-template-columns: calc(100% - 360px) 360px;
    padding: 48px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
    line-height: 33.6px;
    @media only screen and (min-width: 1199px) {
      margin-bottom: 48px;
      font-size: 32px;
      line-height: 41.6px;
    }
  }

  &__phone {
    margin-bottom: 12px;
    display: flex;

    @media only screen and (min-width: 1199px) {
      margin-bottom: 24px;
    }
    a {
      font-size: 30px;
      font-weight: 800;
      line-height: 36px;
      color: #101828;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 767px) {
      align-items: flex-start;
    }
  }

  &__form {
    margin-bottom: 24px;

    @media only screen and (min-width: 767px) {
      grid-row: span 2;
      margin-bottom: 0;
    }
    &-title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
      line-height: 23.4px;
      color: #667085;

      @media only screen and (min-width: 767px) {
        margin-bottom: 14px;
        font-size: 22px;
        line-height: 28.6px;
      }
    }

    form {
      // max-width: 288px;
      button {
        width: 100%;
        margin-top: 12px;

        @media only screen and (min-width: 767px) {
          margin-top: 16px;
        }
      }
    }
  }

  &__socials {
    @media only screen and (min-width: 767px) {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &-title {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      color: #667085;

      @media only screen and (min-width: 767px) {
        max-width: 130px;
      }
    }
  }

  .timetable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    @media only screen and (min-width: 1199px) {
      margin-bottom: 10px;
      align-items: flex-start;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: 500;
      line-height: 20.8px;
      color: #667085;
    }
  }
  .socials {
    justify-content: center;
    @media only screen and (min-width: 767px) {
      justify-content: flex-start;
    }
  }
}

.steps {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  @media only screen and (min-width: 1199px) {
    display: grid;
    grid-template-columns: calc(100% - 684px - 20px) 684px;
  }
}

// поменять классы
.q {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media only screen and (min-width: 1199px) {
    gap: 32px;
  }
}
.q-item {
  @media only screen and (min-width: 1199px) {
    display: flex;
    gap: 32px;
  }
  &__num {
    margin-bottom: 4px;
    font-family: 'Sora', sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #fff;
    text-shadow: 1px 1px 0 #07ae5a, -1px 1px 0 #07ae5a, -1px -1px 0 #07ae5a, 1px -1px 0 #07ae5a;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #101828;

    @media only screen and (min-width: 1199px) {
      font-size: 22px;
      line-height: 35.2px;
    }
  }
  &__descr {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #667085;
  }
}

.accordion {
}
.accordion-item {
  padding: 24px 0 32px 0;
  border-bottom: 1px solid #eaecf0;
  &__title {
    display: flex;
    justify-content: space-between;
    @media only screen and (min-width: 1199px) {
      cursor: pointer;
    }

    h3 {
      max-width: 916px;
      font-size: 18px;
      font-weight: 600;
      line-height: 23.4px;
      color: #101828;

      @media only screen and (min-width: 1199px) {
        font-size: 22px;
        line-height: 28.6px;
      }
    }

    span {
    }
    svg {
      transition: all 0.3s ease;
      color: #07ae5a;
    }
  }

  &.active {
    .accordion-item__title {
      span {
        svg {
          transform: rotate(45deg);
          color: #667085;
        }
      }
    }
    .accordion-item__body {
      // display: block;
    }
  }

  &__body {
    display: none;
    .text {
      padding-top: 6px;
      max-width: 932px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #667085;
    }
  }
}

.stretch-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

// blogCards
.blog-cards {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;

  @media only screen and (min-width: 1199px) {
    grid-template-columns: repeat(3, calc(33.3333% - 32px / 3));
    gap: 16px;
  }
}
.blog-card {
  position: relative;
  &__img {
    width: 100%;
    height: 200px;
    margin-bottom: 8px;
    border-radius: 12px;
    overflow: hidden;

    @media only screen and (min-width: 1199px) {
      height: 220px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__data {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color: #667085;

    @media only screen and (min-width: 1199px) {
      font-size: 16px;
      line-height: 22.4px;
    }
  }

  &__descr {
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    color: #101828;

    @media only screen and (min-width: 1199px) {
      font-size: 20px;
      line-height: 26px;
      transition: all 0.3s ease;
    }
  }
  @media only screen and (min-width: 1199px) {
    &:hover {
      .blog-card__descr {
        color: #07ae5a;
      }
    }
  }
}

.footer {
  background-color: #fafafa;
  border-top: 0.5px solid #e4e8eb;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #667085;

  a {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    color: #667085;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.3s ease;

    &:hover {
      color: darken(#667085, 5%);
    }
  }

  &-top {
    padding-top: 32px;
    margin-bottom: 24px;
  }
  &-middle {
    padding-bottom: 32px;

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media only screen and (min-width: 991px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  &-bottom {
    padding: 8px 0;
    background-color: #101828;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    color: #101828;
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media only screen and (min-width: 1199px) {
      max-width: 230px;
    }

    .footer__title {
      margin-bottom: 6px;
    }
  }

  &-menu {
    .footer__title {
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 7.5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-r {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media only screen and (min-width: 991px) {
      flex-direction: row;
    }
    @media only screen and (min-width: 1199px) {
      gap: 60px;
    }
    &-r {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media only screen and (min-width: 991px) {
        flex-direction: row;
        // justify-content: space-between;
        width: 100%;
      }
      @media only screen and (min-width: 1199px) {
        gap: 60px;
      }
    }
    &-l {
      @media only screen and (min-width: 1199px) {
        flex: 0 0 390px;
      }
    }
  }
}

.subscription {
  &__title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    color: #667085;
  }

  &__form {
    form {
      display: flex;
      flex-direction: column;
      gap: 6px;
      @media only screen and (min-width: 1199px) {
        flex-direction: row;
        gap: 8px;
      }

      input {
        width: 100%;
        @media only screen and (min-width: 991px) {
          width: 254px;
        }
      }
    }
  }
}

.copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;
  color: #ffffff;

  @media only screen and (min-width: 991px) {
    font-size: 16px;
    line-height: 20.8px;
  }
}
